body, html {
    height: 100%;
}

/* ------------------ */
/*       Banner       */
/* ------------------ */
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800);
.static-slider3 {
    font-family: "Raleway", sans-serif;
    color: #dedfe0;
    font-weight: 300;
    padding: 3em 2em;
}

.static-slider3 h1 {
    color: #dedfe0;
    font-weight: 200;
    margin: 0.4em 0;
    font-size: 3.5em;
}

.static-slider3 .title {
    line-height: 50px;
    font-size: 3em;
}

.static-slider3 .h2title span {
    /* Attributes for scrolling text */
    /* border-bottom: 3px solid #000000; */
}

.container>.content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 15px;
    color: #FFFFFF;
    width: 100%;
    max-width: 880px;
}

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/background.jpeg');

    /* Set a specific height */
    height: 60%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.6;
}

@media (max-width:767px) {
	.static-slider3 .title{
		line-height: 30px;
		font-size: 24px;
        font-weight: 400;
	}
}


/* ------------------ */
/*       Contact      */
/* ------------------ */

/* color */
.me-lightblue-bg{ background: #60aae7 }
.me-white-bg{ background: #FFF }
.me-black-bg{ background: #232323 }
.me-yellow-bg{ background: #F2D00E;}
.me-orange-bg{ background: #ff8a2c}
.me-darkgrey{ background: #1f1f1f;}
.me-turquoise{ background: #01a2a6}

.contact{
    padding-bottom: 80px;
}
.contact h2{
    margin-top: -18px;
    margin-bottom: 80px;
}
.contact p span{
    font-size: 30px;
}

.contact .speechBubble{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    margin: 0 auto 76px;
    border: 5px solid #FFF;
    top: 0px;
    opacity: 1;
}
.contact .speechBubble:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 63px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 41px solid #FFF;
    transform: rotate(10deg) ;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
}

.contact .speechBubble span{
    padding: 30px 0;
    display: block;
    font-size: 22px;
    text-align: center;
    color: #01a2a6;
}
.contact .speechBubble strong{
    font-size: 30px;
}

.contact-supratitle {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 14px;
    margin-top: 65px;
}
.contact .name-and-mail:after{
    content: "";
    border-bottom: 4px solid #FFF;
    width: 50px;
    display: block;
    margin: 30px auto 30px;
}
.contact img#stormtrooper{
    position: absolute;
    bottom: 0;
    left: -100%;
    max-height: 100%;
    z-index: -2;
}
.social-icons a{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #FFF;
    margin: 5px;
    padding: 0;
}
.social-icons a svg{
    fill: white;
    vertical-align: bottom;
    display: inline-block;
    -moz-transform: scale(.7);
    -webkit-transform: scale(.7);
    -o-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);

    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.social-icons a:hover svg{
    fill: #01a2a6;
    -moz-transform: scale(.8);
    -webkit-transform: scale(.8);
    -o-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
}

/* text */
.me-white-text{ color: #FFF }
.me-text-center{ text-align: center }
.me-noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Animations: */
/* - Rotation */
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* fade in/out */
.animation-fade{
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
.animation-fade.animate{
    opacity: 1
}

/* animate from right */
.animation-from-right{
    right: -100%;
    -webkit-transition: right 300ms ease;
    -moz-transition: right 300ms ease;
    -ms-transition: right 300ms ease;
    -o-transition: right 300ms ease;
    transition: right 300ms ease;
    /* hardware accelerate */
    -webkit-transform: translate3d(0, 0, 0);
    transform        : translate3d(0, 0, 0);
}
.animation-from-right.animate{
    right: 20px;
}



/* ----------------- */
/*       Footer      */
/* ----------------- */
.footer {
    padding: 40px 0 80px;
}
