body, html {
    height: 100%;
}

/* ----- Banner ----- */
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800);
.static-slider3 {
    font-family: "Raleway", sans-serif;
    color: #dedfe0;
    font-weight: 300;
    padding: 3em 2em;
    top: 50%;
    left: 50%;
}

.static-slider3 h1 {
    color: #dedfe0;
    font-weight: 200;
    margin: 0.4em 0;
    font-size: 3.5em;
}

.static-slider3 h2 {
    color: #dedfe0;
    font-weight: 200;
    margin: 0.4em 0;
    font-size: 3em;
}

.static-slider3 .h1title {
    line-height: 50px;
    font-size: 3.5em;
    font-weight: 200;
}

.static-slider3 .h2title {
    line-height: 50px;
    font-size: 3em;
    font-weight: 200;
}

.static-slider3 .h2title span {
    /* Attributes for scrolling text */
    /* border-bottom: 3px solid #000000; */
}

.container {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

@media (max-width:767px) {
	.static-slider3 .h1title{
		line-height: 50px;
		font-size: 3.5em;
        font-weight: 200;
	}

    .static-slider3 .h2title{
		line-height: 30px;
		font-size: 24px;
        font-weight: 400;
	}
}


/* Hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url('../images/background.jpeg');

    /* Set a specific height */
    height: 60%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.6;

}